<mat-nav-list fxFlex>
  <mat-list-item *ngIf="authenticated">
    <img matListAvatar [src]="user.photoURL" [alt]="user.displayName">
    <span class="display-name">{{user.displayName}}</span>
  </mat-list-item>
  <mat-divider ngClass="divider" *ngIf="authenticated"></mat-divider>
  <button mat-button style="height: 0; position: absolute;"> <!-- 'absorbs' the auto-focus behavior -->
  </button>
  <h1 *ngIf="authenticated" mat-subheader>Shopping</h1>
  <a *ngIf="authenticated" mat-list-item routerLink="/shopping/list" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary" svgIcon="outline-shopping_cart"></mat-icon>
    <span>List</span>
  </a>
  <a *ngIf="authenticated" mat-list-item routerLink="/shopping/template" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary">list_alt</mat-icon>
    <span>Template</span>
  </a>
  <a *ngIf="authenticated" mat-list-item routerLink="/shopping/history" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary">history</mat-icon>
    <span>History</span>
  </a>
  <mat-divider ngClass="divider" *ngIf="authenticated"></mat-divider>
  <h1 *ngIf="authenticated" mat-subheader>Settings</h1>
  <a *ngIf="authenticated" mat-list-item routerLink="/auth/viewgroup" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary">people_outline</mat-icon>
    <span>My Family</span>
  </a>
  <a *ngIf="authenticated" mat-list-item routerLink="/auth/updateprofile" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary">person_outline</mat-icon>
    <span>My Profile</span>
  </a>
  <a *ngIf="authenticated" mat-list-item routerLink="/auth/changepassword" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary" svgIcon="outline-vpn_key"></mat-icon>
    <span>Change Password</span>
  </a>
  <a mat-list-item style="cursor: pointer;" (click)="changeTheme()">
    <mat-icon matListIcon color="primary" svgIcon="outline-palette"></mat-icon>
    <span>Change Theme</span>
  </a>
  <a *ngIf="authenticated" mat-list-item (click)="sidenav.toggle(); logout();">
    <mat-icon matListIcon color="primary" svgIcon="outline-eject"></mat-icon>
    <span>Logout</span>
  </a>
  <a *ngIf="!authenticated" mat-list-item routerLink="/auth/signup" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary" svgIcon="outline-person_add"></mat-icon>
    <span>Signup</span>
  </a>
  <a *ngIf="!authenticated" mat-list-item routerLink="/auth/login" (click)="sidenav.toggle()">
    <mat-icon matListIcon color="primary">exit_to_app</mat-icon>
    <span>Login</span>
  </a>
</mat-nav-list>
