<section *ngIf="!isWaiting" fxFlex  fxLayout="column" fxLayoutAlign="start center" class="container mat-elevation-z8">
  <mat-toolbar>
    <span *ngIf="group" fxFlex>{{ group!.name }}</span>
    <button mat-icon-button (click)="editMode = true">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="inviteMode = true">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button (click)="leaveGroup()" [disabled]="isAdmin">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px" class="content">
    <div *ngIf="editMode" fxLayoutAlign="center center" class="section-title">
      Change group name
    </div>
    <div *ngIf="editMode" fxLayout="row"  fxLayoutAlign="center center" class="section-body">
      <mat-form-field>
        <input type="text" matInput [placeholder]="group.name" ngModel name="name" required #nameInput="ngModel">
        <mat-error>Name is required</mat-error>
      </mat-form-field>
      <button mat-icon-button color="primary" [disabled]="!nameInput.valid" (click)="changeGroupName(nameInput.value)">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button color="primary"  (click)="editMode = false">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <div *ngIf="inviteMode" fxLayoutAlign="center center" class="section-title">
      Invite your family
    </div>
    <div *ngIf="inviteMode" fxLayout="row"  fxLayoutAlign="center center" class="section-body">
      <mat-form-field>
        <input type="text" matInput placeholder="Invitee email" ngModel name="email" required email #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Enter a valid email</mat-error>
      </mat-form-field>
      <button mat-icon-button color="primary" [disabled]="!emailInput.valid" (click)="createInvitation(emailInput.value)">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button color="primary"  (click)="inviteMode = false">
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <div fxLayoutAlign="center center" class="section-title">
      Family Members
    </div>
    <div fxLayout="row wrap"  fxLayoutAlign="center center" fxLayoutGap="10px grid" class="section-body">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" *ngFor="let member of members" class="profile">
        <img class="image-preview" [src]="member!.photoURL" [alt]="member!.displayName">
        <p>{{ member!.displayName }}</p>
      </div>
    </div>
    <div *ngIf="pendingInvitations.length > 0" fxLayoutAlign="center center" class="section-title">
      Pending Invitations
    </div>
    <div *ngIf="pendingInvitations.length > 0" fxLayout="row wrap"  fxLayoutAlign="center center" fxLayoutGap="10px grid" class="section-body">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" *ngFor="let invitation of pendingInvitations" class="profile">
        <div fxLayoutAlign="center center" class="image-preview">
          <button mat-icon-button (click)="removeInvitation(invitation)">
            <mat-icon color="primary">clear</mat-icon>
          </button>
        </div>
        <p>{{ invitation }}</p>
      </div>
    </div>
  </div>
</section>
<section *ngIf="isWaiting" fxFlex  fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
